



<astro>
  <header class="headert">
  
    <div class="px-10 py-4 h-14 bg-gradient-to-r ">Bitcoin y solo bitcoin</div>
    <button >
      <a href="/" class="px-4 py-4 botton">
        Historia de bitcoin
      </a>
    </button>
    
    <button >
      <a href="/bitcoin" class="px-4 py-4 botton">
        Por qué comprarlo
      </a>
      </button>
  
  
  
    
  </header>
  </astro>


  <style>
      .botton {
    @apply bg-gris text-black hover:bg-grisa;
}

.headert {
    @apply flex items-center flex-wrap py-4 ml-auto bg-gris;
}


  </style>